<!-- begin c-hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-t-12 last-item">
        <div class="hero__content">
          <h1 class="hero__title">{{ site.data.settings.author.say-hello }}</h1>
          <div class="hero__subtitle">
            <h2> ANCSSC Mapping Tool </h2>

            <p>
              Our task is to create a tool to map NGOs and CSOs around the world.
              Our solution involves creating a web application that aggregates, displays and filters data for users.
              This will improve the awareness of which areas NGOs and CSOs operate in and what sector.
            </p>
            <h3>Team</h3>
            <p>
              Afiq Bin Samsudin <a href="afiq.samsudin.18@ucl.ac.uk">afiq.samsudin.18@ucl.ac.uk</a> Frontend<br/>
              Ruairidh Williamson <a href="mailto:ruairidh.williamson.18@ucl.ac.uk">ruairidh.williamson.18@ucl.ac.uk</a> Lead<br/>
              Yangtao Ge <a href="mailto:yangtao.ge.17@ucl.ac.uk">yangtao.ge.17@ucl.ac.uk</a> Backend<br/>
            </p>

          </div>
          <div class="hero__social">
            {% include contact-link.html %}
          </div>
        </div>
      </div>
      <div class="col col-6 col-t-12">
        <div class="hero__image">
          <img src="{{site.baseurl}}/images/{{ site.data.settings.author.image }}" alt="">
        </div>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/M2_C6en0Wc0" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      </div>
    </div>
    <img src="{{site.baseurl}}/images/features.png" alt="">
  </div>
</div>
<!-- end hero -->